/* Base styles */
.card {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  margin-left: 50px;
  margin-right: 20px;
  width: 45vw;
}

.line{
  width: 82vw; 
  height: 1px;
  background-color: black;
}
.list-group {
  list-style-type: none;
}

.product {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.label {
  font-weight: bold;
}

.visiblity{ 
  cursor: pointer;
  text-align: center; 
  width: 88vw; 
}


@media screen and (max-width: 1300px) {
  .left,
  .right {
    width: 40vw;
  }

  .line{
    width: 72vw;
  }
}

@media screen and (max-width: 1120px) {
  .left,
  .right {
    width: 35vw;
  }

  .line{
    width: 72vw;
  }

  .visiblity{ 
    width: 70vw;
    margin-left: 45px;
  }
}

@media screen and (max-width: 900px) {
  .left,
  .right {
    width: 30vw;
    margin-left: 30px; 
  }

  .line{
    width: 67vw;
  }

  .visiblity{ 
    margin-left: 30px;
  }
}

@media screen and (max-width: 700px) {
  .left,
  .right {
    width: 45vw; 
    margin-left: 20px; 
  }

  .line{
    width: 78vw;
  }

  .visiblity{ 
    margin-left: 45px;
  }
}

@media screen and (max-width: 600px) {
  .left,
  .right {
    width: 70vw;
    margin-left: 30px;
  }

  .card {
  display: flex;
  flex-direction: column;
}

  .product {
    width: 60px;
    height: 60px;
    margin-top: 15px; 
  }

  .line{
    width: 74vw;
  }

  .visiblity{ 
    margin-left: 40px;
  }
}
@media screen and (max-width: 500px) {
  .line{
    width: 70vw;
    margin-left: 10px;
  }

  .visiblity{ 
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .left,
  .right {
    width: 80vw;
    margin-left: 5px; 
  }

  .product {
    width: 50px;
    height: 50px;
    margin-top: 10px; 
  }

  .label {
    font-size: 14px; 
  }

  .line{
    width: 84vw;
  }

  .visiblity{ 
    width: 84vw;
  }
}
