.lines{
    border: 1px solid rgba(0, 0, 0, 0.336);
    width: 90vw;
    margin-top: 90px;
}

.icons{
    height: 25px;
    width: 25px;
    padding-left: 20px;
}

.footer{
    text-align: center;
}

.footer h4{
    text-align: center;
}

.phone{
    color: blueviolet;
}
.mail{
    color: rgb(255, 72, 0)
}
.facebook{
    color: #0866FF;
}
.instagram{
    color: #ff7300cb;
}
.linkedin{
    color: rgb(59, 131, 246)
}
